{% set title = 'Vitaaaj ty Panko' %}
{% extends "layout.twig" %}


{% block content %}

<h1>Login</h1>

<form action="{{ path('login.process') }}" method="post">
    {{ form_widget(form) }}
</form>

{% endblock %}