{% set title = 'Vitaaaj ty Panko' %}
{% extends "layout.twig" %}


{% block content %}
<h1>Login</h1>
<form action="#">
    <input type="email" />
    <input type="password" />
    <input type="submit" />
</form>
{% endblock %}